/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2em;
    margin: 0 1em;
  }
  
  article {
    text-align:justify;

  }
  
  h1 {
    font-size: 1em;
    margin: .9em 0 0 0;

  }
  
  h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}
  
  img {
      max-width: 100%;
      padding-bottom: 1em;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  
  section {
    /* display: flex;
    flex-flow: row wrap; */
  }
  
  
  figure {
    background: black;
    border-radius: 5px;
    color: white;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;
    font-family:'Times New Roman';
  }
  
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 794px) {
      body{
        background: #e0fbfc;
        margin: 25px 6%;
        font-size: 25px;
        margin: 0 20px;
      }
      figure{
        width: 45%;
      }

      section{
          display: flex;
          flex-wrap: wrap;
      }
    }
    
    @media screen and (min-width: 1020px) {
        body{
            background: #14213d;
            margin: 25px 10%;
            max-width: 1300px;
        }

        figure {
            width: 45%;
            margin-right: 2.5%;
          }
        
    }
